.BuyWay{
    padding-top: 20px;
}

.col-md-8 .col-md{
    text-align: center;
}

.col-md-3 {
    display: grid;
    place-items: center;
    text-align: center;
}

.d-block {
    width: 66.667%;
    flex: 100%;
    display: flex;   
    padding-top: 50px;     
}

.Pick {
    display: flex;
    list-style:none;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: -25px;
}

.Pick .ti-arrow-circle-down {
    border: none;
    background: none; 
    padding: 0;
    transform: scale(1.5);
}


.col-md-4 .hidden-list {
    position: sticky;
    top: 0;
}


.container .col-8{
    padding-top: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container .col-3{
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 300px;
}

.container .col-3 .col {
    height: 100%;
}

.container .col-3 .row {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container .col-3 .img-movie {
    max-width: 50%;
    max-height: 50%;
    display: block;
}


.button-{
    padding-top: 20px;
}

.fui-button-shiny-2 {
    padding: 16px 37px;
    border: 2px solid #f29538;
    font-weight: 600;
    font-size: 16px;
    color: #f29538;
    border-radius: 8px;
    transition: all 1s ease;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-transform: capitalize;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.fui-button-shiny-2::before {
    content: "";
    position: absolute;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.9),
        transparent
);
transition: all linear 0.5s;
}
.fui-button-shiny-2:hover {
    background-color: #f29538;
    color: #fff;
}
.fui-button-shiny-2:hover::before {
    left: 100%;
}

.invoice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-amount {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}