<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/schedule.css?v=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
</head>

<body id="reportsPage">
    <div class="header">
        <div class="container-fluid p-4">
            <div class="row align-items-center">
                <div class="col-md-2 px-5 py-1">
                    <a href="/User/UserHome/" class="navbar-brand">
                        <img src="~/assets/images/logo/cinema-logo.png" alt="Ohayou Cinema" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-2 buyticket-area">
                   
                </div>
                <div class="col-md-5">
                    <ul class="list-gr-1 list-group list-group-horizontal">
                        <li class="list-group-item movie-area">
                            <a href="/Admin/AdminHome">
                                Trang chủ
                                <i class="ti-angle-down down-btn"></i>
                            </a>
                        </li>

                        <li class="list-group-item movie-area">
                            <a href="/Admin/AdminHome/InvoiceList">
                                Đơn hàng
                                <i class="ti-angle-down down-btn"></i>
                            </a>
                        </li>

                        <li class="list-group-item cinema-corner text-center">
                            Quản lí rạp phim
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="/Admin/Movie/AllMovie">Phim</a></li>
                                <li><a href="#">Suất chiếu</a></li>
                                <li><a href="#">Nhân viên</a></li>
                                <li><a href="#">Khách hàng</a></li>
                            </ul>
                        </li>

                        <li class="list-group-item event-list text-center">
                            Thống kê
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="#">Theo tháng</a></li>
                                <li><a href="#">Theo năm</a></li>
                            </ul>
                        </li>

                        <li class="list-group-item ticket-price text-center">
                            Rạp/Giá vé
                            <i class="ti-angle-down down-btn"></i>
                            <ul class="sub-list-gr-1 list-group">
                                <li><a href="#">Rạp Đà Nẵng</a></li>
                            </ul>

                        </li>
                    </ul>
                </div>
                <div class="col-md-1">
                  
                </div>
                <div class="login-area col-md-2">
                    <div class="row">
                        <div class="col-auto">
                            <div class="show-login js-show-login">
                                <div class="account-wrapper">
                                    <img src="~/assets/images/subimg/account.png" alt="" class="img-fluid account-img">
                                    <ul class="list-group account-list">
                                        <li class="list-group-item">
                                            <a href="/User/UserHome/UserProfile">
                                                <i class="fa-solid fa-id-badge account-icon"></i>
                                                Tài Khoản
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="/Home/SignOut" class="js-logout">
                                                <i class="fa-solid fa-arrow-right-from-bracket account-icon"></i>
                                                Đăng Xuất
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            @*@RenderSection("UserName", required: false)*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line-default"></div>
    <div class="container wrapper row">
        <div class="col-md-2">
            <div class="list-group room-list" id="list-tab" role="tablist">
                <a id="room-0" class="list-group-item list-group-item-action room-item active" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="0">Tất cả</a>
                <a id="room-1" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="1">Rạp 1</a>
                <a id="room-2" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="2">Rạp 2</a>
                <a id="room-3" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="3">Rạp 3</a>
                <a id="room-4" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="4">Rạp 4</a>
                <a id="room-5" class="list-group-item list-group-item-action room-item" data-bs-toggle="list" href="#movie-list" role="tab" aria-controls="movie-list" data-roomid="5">Rạp 5</a>
            </div>
        </div>
        <div class="wrapper-content col-md-10">
            <form class="getdate">
                <div class="search-content-item">
                    <input id="myID" placeholder="Nhập mã">
                </div>
            
                <button type="button" class="report-btn" data-bs-toggle="modal" data-bs-target="#scheduleModal">
                    Thêm suất chiếu
                </button>

                <!-- Modal -->
                <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Suất Chiếu</h1>
                                @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
                            </div>
                            <div class="modal-body">
                                
                            </div>
                            @*<div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>*@
                        </div>
                    </div>
                </div>
                @*<input id="selectedDate" name="selectedTime" type="date" />*@
                <div class="datetime-picker position-relative">
                    <i class="far fa-calendar-alt position-absolute"></i>
                    <input id="selectedDate" name="selectedTime" type="date" style="padding-left: 2rem; height: 3rem; " placeholder="Chọn ngày" />
                </div>
            </form>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="movie-list" role="tabpanel" @*aria-labelledby="list-profile-list"*@>
                    <table class="table" id="resultTable">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Tên Phim</th>
                                <th scope="col">Thời Lượng</th>
                                <th scope="col">Suất Chiếu</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#selectedDate", {
            dateFormat: "Y-m-d",
        });
    </script>

</body>
</html>

<script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#selectedDate').change(function () {
            var selectedDate = $('#selectedDate').val();
            console.log("Hello" + selectedDate)

            $.ajax({
                url: '/Admin/Schedule/GetSchedule',
                type: 'POST',
                data: {
                    displayDate: selectedDate
                },
                success: function (response) {
                    var resultTable = $('#resultTable tbody');
                    resultTable.empty();
                    var movieList = response.movieList

                    $.each(movieList, function (index, movie) {
                        var showTimesHtml = '';
                        $.each(movie.ShowTimes, function (i, showTime) {
                            showTimesHtml += '<span style="border: 1px solid #f26b36 !important;" class="btn mx-1">' + showTime + '</span> ';
                        });

                        var movieHtml = '<tr>';
                        movieHtml += '<th scope="row"><img style="border-radius: 5px;width: 50px" src="' + movie.MovieImage + '" /></th>';
                        movieHtml += '<td>' + movie.MovieTitle + '</td>';
                        movieHtml += '<td>' + movie.Duration + ' phút</td>';
                        movieHtml += '<td>' + showTimesHtml + '</td>';
                        movieHtml += '<td><a style="color: #F26B38;" href="#"><i class="fa-regular fa-pen-to-square"></i></a></td>';
                        movieHtml += '</tr>';

                        resultTable.append(movieHtml);
                    });
                },
                error: function (error) {
                    // Xử lý lỗi nếu có
                    console.log(error);
                }
            });
        });

        
    })

    $(document).on('click', '.room-item', function (e) { // Changed to a regular function
        var roomId = parseInt($(this).attr('id').substring(5)); // 'this' now correctly refers to the clicked element
        console.log("Room " + roomId)
        var selectedDate = $('#selectedDate').val();
        $.ajax({
            url: '/Admin/Schedule/MovieByRoom',
            type: 'POST',
            data: {
                roomId: roomId,
                displayDate: selectedDate
            },
            success: function (response) {
                var resultTable = $('#resultTable tbody');
                resultTable.empty();
                var movieList = response.movieList
                console.log(movieList)

                $.each(movieList, function (index, movie) {
                    var showTimesHtml = '';
                    $.each(movie.ShowTimes, function (i, showTime) {
                        showTimesHtml += '<span style="border: 1px solid #f26b36 !important;" class="btn mx-1">' + showTime + '</span> ';
                    });

                    var movieHtml = '<tr>';
                    movieHtml += '<th scope="row"><img style="border-radius: 5px;width: 50px" src="' + movie.MovieImage + '" /></th>';
                    movieHtml += '<td>' + movie.MovieTitle + '</td>';
                    movieHtml += '<td>' + movie.Duration + ' phút</td>';
                    movieHtml += '<td>' + showTimesHtml + '</td>';
                    movieHtml += '<td><a style="color: #F26B38;" href="#"><i class="fa-regular fa-pen-to-square"></i></a></td>';
                    movieHtml += '</tr>';

                    resultTable.append(movieHtml);
                });
            },
            error: function (err) {
                console.log(err)
            }
        })
    })
</script>