.header {
    box-sizing: border-box;
}

/* Các design trong chọn phim */
.movie-name{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.button-{
    padding-top: 4rem;
}

.btn:focus {
    filter: brightness(85%);
}

.ti-twitter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bar BuyWay */
.BuyWay{
    padding-top: 1rem;
    text-align: center;
}

/* Chọn phim và ngày */
.container .row {
    padding-top: 2rem;
}

.d-block{
    flex: 100%;
    display: flex;   
    padding-top: 4rem;     
}

.Pick {
    display: flex;
    list-style:none;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: -2rem;
}

.Pick .ti-arrow-circle-down {
    border: none;
    background: none; 
    padding: 0;
    transform: scale(1.5);
}

/* Chọn phim */
.container .row .col-8 .ListMovie{
    padding-top: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Hóa đơn */
.reciept{
    padding-top: 4rem;
}

.img-movie {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 13rem;
}

.container .col-3 .row.detail{
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    border-top: 0.2rem ridge #f58020;
}
.invoice {
    margin-top: 20px;
    border-top: 1px dashed #ccc;
}

/* .container {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
} */


.clapperboard-icon {
    font-size: 1.3rem;
    font-weight: bold;
}

.total-amount {
    font-size: 1.5rem;
    padding-left: 6rem;
    font-weight: bold;
    text-align: right;
    color: #333;

}


/* Nút tiếp theo với quay lại */

.fui-button-shiny-2 {
    padding: 1rem 2rem;
    border: 2px solid #f58020;
    font-weight: 600;
    font-size: 1rem;
    color: #f58020;
    border-radius: 8px;
    transition: all 1s ease;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-transform: capitalize;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.fui-button-shiny-2::before {
    content: "";
    position: absolute;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.9),
        transparent
);
transition: all linear 0.5s;
}
.fui-button-shiny-2:hover {
    background-color: #f58020;
    color: #fff;
}
.fui-button-shiny-2:hover::before {
    left: 100%;
}

/* Chọn ngày với chọn suất*/

.row.dayList {
    display: none;

}

.pickDay {
    display: flex;
    justify-content: space-between; /* Canh giữa các button */
    margin-bottom: 30px;
    margin-top: -60px;
}

/* Button cho ngày */
.btnDay {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

.btnDay:focus {
    background-color: #f58020;
    color: #fff;
}

/* Chữ trong button */
.chooseDay {
    font-size: 16px;
}

.pickTime {
    display: flex;
    justify-content: space-between; /* Canh giữa các button */
    margin-bottom: 20px;
}

/* Button cho ngày */
.btnTime {
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

.btnTime:focus {
    background-color: #f58020;
    color: #fff;
}

/* Chữ trong button */
.chooseTime{
    font-size: 16px;
}

h4{
    text-align: left;
}

