
@{
    ViewBag.Title = "Staff";
    Layout = "~/Areas/Staff/Views/Shared/_StaffLayout.cshtml";
}

@{
    var currentUser = (CinemaWeb.Models.user)HttpContext.Current.Session["staff"];
}

@section UserName {
    <div class="user_name  row1 " style="font-weight: 600; font-size: small;">
        @*<img class="icon" src="~/Areas/User/assets/images/logo/logomini.png" alt="">*@
        @currentUser.full_name
    </div>
    @*<div class="row1" style="font-size: small; font-weight: 500;">
        <img class="icon" src="~/Areas/User/assets/images/logo/icon-gift.190935e4.png" alt="">
        0 Star
    </div>*@
}