
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentSuccess</title>
</head>
<body>
    <div> 
        <h2 class="text-danger">@TempData["Message"]</h2>
    </div>
</body>
</html>
