@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.buyticket-btn  {
    font-size: 15px;
    color: #fff;
    border: none;
}

.img-buy-btn {
    width: 110px;
    height: auto;
}


/* List */
.list-group-horizontal {
    border: none;
    margin-left: -30px;
    cursor: pointer;
}

.list-group-item {
    border: none;
    border-radius: 0;
}
.list-group-item:last-child {
    border-right: none;
}

.list-gr-1 {
    font-size: 14px;
}

.movie-area,
.cinema-corner,
.event-list,
.ticket-price {
    padding: 20px 10px;
}

.list-gr-1 li {
    position: relative;
}

.list-gr-1 li:hover {
    color: #F26B38;
}

.sub-list-gr-1 {
    display: none;
    min-width: 200px;
    top: calc(100% + 0.5px);
    left: -35px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    line-height: 2.4;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-area a,
.sub-list-gr-1 a {
    text-decoration: none;
    color: #000;
}

.movie-area:hover .movie-status,
.cinema-corner:hover .sub-list-gr-1,
.event-list:hover .sub-list-gr-1,
.ticket-price:hover .sub-list-gr-1
 {
    color: #F26B38;
    display: block;
}

.movie-area li:hover a,
.sub-list-gr-1 li:hover a {
    color: #F26B38;
}

.down-btn {
    font-size: 8px;
}

/* Movie-List */
.movie-status {
    display: none;
    padding: 10px 20px;
    min-width: 720px;
    top: calc(100% + 0.5px);
    left: -30px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-list .col-md-3 {
    position: relative;
  
}

.img-movie {
    padding-bottom: 10px;
    transition: filter 0.3s ease;
}

.ti-ticket {
    font-size: 15px;
}

.movie-list .buy-ticket-btn {
    display: none;
    border: none;
    width: 120px; 
    height: 35px;
    background-color: #F26B38;
    color: #fff;
    position: absolute;
    top: 43%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.movie-list .buy-ticket-btn:hover ~ .img-movie,
.movie-list .img-movie:hover {
    filter: brightness(65%); 
}

.movie-list .img-movie:hover + .buy-ticket-btn,
.movie-list .buy-ticket-btn:hover {
    display: block;
}

.movie-list .buy-ticket-btn:hover {
    background-color: #f29538;

}

.search-icon {
    font-size: 14px;
}

.search-btn {
    border: none;
    padding-left: 34px;
    color: #777777;
}

/* Login */
.login-area {
    display: flex;
}

.hidden-login {
    display: block;
}

.hidden-login.active {
    display: none;
}

.show-login {
    display: none;
}

.show-login.active {
    display: block;
}

.account-wrapper {
    position: relative;
}

.account-img {
    width: 75px;
    height: auto;
    padding: 10px 20px;
}

.account-list li:hover a {
    color: #F26B38;
}

.account-list a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.account-list {
    display: none;
    text-decoration: none;
    min-width: 150px;
    top: calc(100% + 0.5px);
    left: 20px;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.account-icon {
    padding-right: 10px;
}

.account-wrapper:hover .account-list {
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100vh;
    display: none;
}

.modal.open {
    display: flex;
}   

.login-container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    animation: ModalFadeIn ease 0.4s;
}

@keyframes ModalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-btn {
    font-size: 14px;
    margin-left: -48px;
    color: #777777;
    border: none;
}

.login-btn:hover
{
    cursor: pointer;
    color: #F26B38;
}

.login-container p {
    font-size: 14px;
    /* line-height: 20; */
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.login-container span {
    font-size: 12px;
}

.login-container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    
} 

.login-container a:hover{
    cursor: pointer;
    color: #F26B38;
}

.form-container button{
    background-color:#F26B38;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.form-container button:hover{
    cursor: pointer;
    color:white;
    background-color: #f29538;
}

.toggle-container button.hidden{
    background-color:white;
    color:#F26B38;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.login-container button.hidden:hover{
    cursor: pointer;
    background-color:#f29538;
    color: white;
    border-color: #fff;
}

.login-container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.login-container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.login-container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login-container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.login-container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color:#F26B38;
    height: 100%;
    background: linear-gradient(to right,#f29538,#F26B38);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.login-container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.login-container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.login-container.active .toggle-right{
    transform: translateX(200%);
}

.g-star-img {
    width: 100px;
    height: auto;
}

/* Slider */
.slider {
    padding: 10px 40px;
}

.carousel-control-prev {
    padding-right: 130px;
}

.carousel-control-next {
    padding-left: 130px;
}

/*tabpanel */
.item p{
    margin-top: 16px;
    font-size: .875rem;
    text-align: center;
}

.item img{
    border-radius: .25rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
.item a{
    text-decoration: none;
    font-family: Nunito Sans, sans-serif !important;
    color: #4a4a4a;
    font-weight: 400;
}

.full-link{
    width: 100%;
    height: 22rem;
    display: block;
}

.text-right{
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-block;
    border-left :solid;
    --tw-border-opacity: 1;
    border-color: rgb(3 78 162 / var(--tw-border-opacity));
    border-width: 5px;
    padding-left: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-transform: uppercase;
}

.tab-list{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 3px #034ea2;
    justify-content: center;
}
.nav-tabs .nav-link.active{
    background: #034ea2;
    border-radius: 5px;
    color: white;
}

.nav-tabs .nav-link.default{
    background: white;
    border-radius: 5px;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}

.nav-item{
    margin-right: 10px;
    font-size: .875rem;
    border-radius: .25rem;
    font-family: Nunito Sans, sans-serif !important;
    color: white;
}
.nav-item button{
    font-size: .875rem;
    border-radius: .25rem;
    font-family: Nunito Sans, sans-serif !important;
    background-color: white;
    --tw-text-opacity: 1;
    color: rgb(51 51 51 / var(--tw-text-opacity));
}
.wrapper{
    margin-bottom: 5rem;
}
