@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header{
    background-color: #fff;
}

.buyticket-btn  {
    font-size: 20px;
    color: #fff;
    border: none;
}

.img-buy-btn {
    width: 110px;
    height: auto;
}


/* List */
.list-group-horizontal {
    border: none;
    margin-left: -30px;
    cursor: pointer;
}

.list-group-item {
    border: none;
    border-radius: 0;
}
.list-group-item:last-child {
    border-right: none;
}

.list-gr-1 {
    font-size: 14px;
}

.movie-area,
.cinema-corner,
.event-list,
.ticket-price {
    padding: 20px 10px;
}

.list-gr-1 li {
    position: relative;
}

.list-gr-1 li:hover {
    color: #F26B38;
}

.sub-list-gr-1 {
    display: none;
    min-width: 200px;
    top: calc(100% + 0.5px);
    left: -35px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    line-height: 2.4;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-area a,
.sub-list-gr-1 a {
    text-decoration: none;
    color: #000;
}

.movie-area:hover .movie-status,
.cinema-corner:hover .sub-list-gr-1,
.event-list:hover .sub-list-gr-1,
.ticket-price:hover .sub-list-gr-1
 {
    color: #F26B38;
    display: block;
}

.movie-area li:hover a,
.sub-list-gr-1 li:hover a {
    color: #F26B38;
}

.down-btn {
    font-size: 8px;
}

/* Movie-List */
.movie-status {
    display: none;
    padding: 10px 20px;
    min-width: 720px;
    top: calc(100% + 0.5px);
    left: -30px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-list .col-md-3 {
    position: relative;
  
}

.img-movie {
    padding-bottom: 10px;
    transition: filter 0.3s ease;
}

.ti-ticket {
    font-size: 15px;
}

.movie-list .buy-ticket-btn {
    display: none;
    border: none;
    width: 120px; 
    height: 35px;
    background-color: #F26B38;
    color: #fff;
    position: absolute;
    top: 43%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.movie-list .buy-ticket-btn:hover ~ .img-movie,
.movie-list .img-movie:hover {
    filter: brightness(65%); 
}

.movie-list .img-movie:hover + .buy-ticket-btn,
.movie-list .buy-ticket-btn:hover {
    display: block;
}

.movie-list .buy-ticket-btn:hover {
    background-color: #f29538;

}

.search-icon {
    font-size: 15px;
    font-weight: 500;
}

.search-btn {
    border: none;
    padding-right: 0px;
    margin-right: 0px;
    color: #777777;
    margin-left: 70px;
}

.user_name:hover
{
    cursor: pointer;
    color: #f29538;
}

.account-wrapper {
    position: relative;
}

.account-list li:hover a {
    color: #F26B38;
}

.account-list a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.account-list {
    display: none;
    text-decoration: none;
    min-width: 150px;
    top: calc(100% + 0.5px);
    left: 20px;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.account-wrapper:hover .account-list {
    display: block;
}




/*user*/

.box{
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
    padding-top: 40px;
}

.left{
    background-color: white;
}

.right .header-list{
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
}

.right .box-content{
    background-color: white;
}

.user{
    padding-top: 20px;
}

.col-auto .icon
{
    width: 20px; 
    height: auto; 
    margin-right: 5px;
}

.content
{
    margin-top: 60px;
}

.d{
    margin-left: 125px;
    color:#f29538;
}
.logo{
    list-style: none;
    margin-top: 20px;
   
}
.logo-item1{
    display: inline-block;
    margin-right: 130px;
}

.logo-item2{
    display: inline-block;
    margin-right: 125px;
}

.logo-item3{
    display: inline-block;
}

.money
{
    list-style: none;
}
.money-item1
{
    display: inline-block;
    margin-right: 90px;
}
.money-item2
{
    display: inline-block;
    margin-right: 50px;

}
.money-item3
{
    display: inline-block;

}

.footer
{
    margin-top: 80px;
}

.list
{
    list-style: none;
    padding-left: 0px;
}
.item {
    
    margin-bottom: 25px;

}

.item a{
    text-decoration: none;
    color:inherit;
    font-size: small;
    font-weight:500;
}

.list_fc{
    display: flex;
    list-style: none;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    padding-top: 5px;

}

.list_item{
    
    display: inline-block;
    margin-right: 70px;
}

.list_item a{
    text-decoration: none;
    color:inherit;
    font-weight:500;
}

.container-fluid .mv-img img{

    max-width: 100px;
    max-height: 90px;
    display: block; 

}

.history-box{
    margin-bottom: 30px;
}

.mv-name
{
    margin-top: 30px;
    font-weight: 500;
}

.date
{
    margin-top: 20px;
    font-size: small;
    font-weight: 500;

}

.bill
{
    margin-top: 30px;
    font-size:small ;
    font-weight: bold;
    
}

.bill a{
    text-decoration: none;
    color: #F26B38;
}

.bill:hover
{
    cursor: pointer;

}

.form-group{
    margin-bottom: 20px;
    font-weight: 500;
    color:dimgray;
}

.remove{
    pointer-events: none;
}    

.form-group label{
    font-size: small;;
}

.form-group .form{
    margin-top: 10px;

}

.form-group .form input{
    width: 350px;
    height: 38px;
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
    border: gray;
}

.subform-group{
    margin-left: 25px;
    margin-bottom: 15px;
}

.subform-group label{
    font-size: small;;
}

.subform-group .subform input{
    width: 300px;
    height: 38px;
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
    border:#000;
}

.update-box{
    width: 350px;
    height: 450px;
}
.update-box p{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.updateBtn{  
        background-color:#F26B38;
        color: #fff;
        font-size: 12px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        margin-left: 65px;
    
}

.update{
    background-color:#F26B38;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    
}

.modal-content .row1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
.modal .row1{
    border-bottom: dashed 1px #000;
    font-weight: 700;
    font-size: 1.125rem;
    font-style: normal;
    margin-top: .75rem;

}
.modal .row1 img{
    width: 80px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.modal-dialog
{
    max-width: 330px; 
    max-height: 600px; 
}

.modal .row2{
    border-bottom: dashed 1px #000;
    font-weight: 700;
    font-size: .875rem;
    font-style: normal;
    margin-top: .75rem;
    margin-left: 20px;
}

.modal .row3{
    border-bottom: dashed 1px #000;
    font-weight: 700;
    font-size: .875rem;
    font-style: normal;
    margin-top: .75rem;
    margin-left: 20px;
}

.modal .row4{
    font-weight: 700;
    font-size: .875rem;
    font-style: normal;
    margin-top: .75rem;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}


.row4 .col {
    flex: 1;
    text-align: center;
}

.modal .p{
    font-weight: normal;
}

/* .container {
    background-color: #777777;
    position: relative;
} */
