

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.buyticket-area {
}

.buyticket-btn {
    font-size: 15px;
    color: #fff;
    border: none;
}

.img-buy-btn {
    width: 110px;
    height: auto;
}


/* List */
.list-group-horizontal {
    border: none;
    /* margin-left: -30px; */
    cursor: pointer;
}

.list-group-item {
    border: none;
    border-radius: 0;
}

    .list-group-item:last-child {
        /*border-right: none;*/
    }

.list-gr-1 {
    font-size: 14px;
}

.movie-area,
.cinema-corner,
.event-list,
.ticket-price {
    padding: 20px 10px;
}

.list-gr-1 li {
    position: relative;
}

    .list-gr-1 li:hover {
        color: #F26B38;
    }

.sub-list-gr-1 {
    display: none;
    min-width: 200px;
    top: calc(100% + 0.5px);
    left: -35px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    line-height: 2.4;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sub-movie-list1 {
    padding-bottom: 1rem;
}

.movie-area a,
.sub-list-gr-1 a {
    text-decoration: none;
    color: #000;
}

.movie-area:hover .movie-status,
.cinema-corner:hover .sub-list-gr-1,
.event-list:hover .sub-list-gr-1,
.ticket-price:hover .sub-list-gr-1 {
    color: #F26B38;
    display: block;
}

.movie-area li:hover a,
.sub-list-gr-1 li:hover a {
    color: #F26B38;
}

.down-btn {
    font-size: 8px;
}

/* Movie-List */
.movie-status {
    display: none;
    padding: 10px 20px;
    min-width: 720px;
    top: calc(100% + 0.5px);
    left: -30px;
    position: absolute;
    z-index: 4;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-list .col-md-3 {
    position: relative;
}

.movie-list a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.img-movie {
    margin-bottom: 10px;
    border-radius: 8px;
}

.ti-ticket {
    font-size: 15px;
}

.movie-list .buy-ticket-btn {
    display: none;
    border: none;
    width: 120px;
    height: 35px;
    background-color: #F26B38;
    color: #fff;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .movie-list .buy-ticket-btn:hover ~ .img-movie,
    .movie-list .img-movie:hover {
        filter: brightness(65%);
    }

        .movie-list .img-movie:hover + .buy-ticket-btn,
        .movie-list .buy-ticket-btn:hover {
            display: block;
        }

    .movie-list .buy-ticket-btn:hover {
        background-color: #f29538;
    }

.search-icon {
    font-size: 15px;
    font-weight: 500;
}

.search-btn {
    border: none;
    padding-right: 0px;
    padding-right: 0px;
    margin-right: 0px;
    color: #777777;
    margin-left: 70px;
}

/* Login */
.login-area {
    display: flex;
}

.user_name:hover {
    cursor: pointer;
    color: #f29538;
}

.account-wrapper {
    position: relative;
}

.account-list li:hover a {
    color: #F26B38;
}

.account-list a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.account-list {
    display: none;
    text-decoration: none;
    min-width: 150px;
    top: calc(100% + 0.5px);
    left: 20px;
    justify-content: center;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.account-img {
    width: 75px;
    height: auto;
    padding: 10px 20px;
}

.account-icon {
    padding-right: 10px;
}

.account-wrapper:hover .account-list {
    display: block;
}

.col-auto .icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.wrapper {
    padding: 0px;
}

.mv-trailer {
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: center;
}

.mv-poster {
    margin-left: -1rem;
}

.mv-img {
    max-width: 100%;
    height: auto;
    z-index: 0;
}

.mv-country {
    padding-top: 1rem;
}

.trailer-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    z-index: 2;
}

.play-img {
    width: 64px;
    height: 64px;
    color: transparent;
}

.content {
    padding-top: 26px;
    margin-left: 5rem;
    margin-right: 5rem;
}

.conten-wrapper {
    padding-top: 50px;
}

.mv-poster {
    width: 280px;
    height: 400px;
    z-index: 2;
    margin-top: -75px;
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, .15));
    border: 2px solid white;
    border-radius: .25rem;
}

.mv-name {
    font-size: 25px;
    font-weight: 600;
}

.mv-time {
    font-size: small;
    font-weight: 600;
}

.duration {
    padding-right: 0px;
    display: inline-block;
}

.release-date {
    padding-left: 0px;
}

.rating :hover {
    color: #f29538;
}

.mv-rating {
    margin-top: .5rem;
}

.rating {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

    .rating .vote {
        font-size: small;
        color: dimgray;
    }

        .rating .vote:hover {
            color: #f29538;
        }

.d {
    font-size: small;
    font-weight: 400;
    color: gray;
    margin-right: 0;
    padding-top: 0px;
    font-family: Nunito Sans, sans-serif;
}

.nation-item {
    font-size: small;
    color: #000;
}


.list-actor {
    font-size: small;
    padding-left: 0px;
    padding-top: 3px;
    margin-bottom: 0;
    line-height: 2.8;
}

.list-item {
    display: inline-block;
    margin-top: 0px;
    border-radius: 5px;
    border-color: gray;
}

.list-item {
    text-decoration: none;
    margin-right: 0px;
    border-radius: 1rem;
    font-size: 14px;
    color: black;
}

.type {
    border-radius: 5px;
}

.mv .row {
    margin-bottom: 20px;
}

.list .btn {
    padding: 0px;
    border: 1px solid gray;
    justify-content: center;
}

    .list .btn:hover {
        border-color: #f29538;
    }

.type .btn {
    padding: 0px;
    border: 1px solid;
    --tw-border-opacity: 1;
    border-color: rgb(208 208 208 / var(--tw-border-opacity));
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .type .btn:hover {
        border-color: #f29538;
    }

    .type .btn a {
        font-size: .875rem;
        font-style: normal;
        font-family: Nunito Sans, sans-serif;
    }

.text {
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    border-left: solid;
    --tw-border-opacity: 1;
    border-color: rgb(3 78 162 / var(--tw-border-opacity));
    border-width: 5px;
    padding-left: 5px;
    margin-bottom: 25px;
}

.describe {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-family: Nunito Sans, sans-serif;
}

.introduce {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    font-family: Nunito Sans, sans-serif;
}

    .introduce a {
        text-decoration: none;
        color: #485fc7;
    }

.date-time-item span {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.date-list {
    line-height: 1.8;
    padding-top: 10px;
    margin: 0;
    padding-bottom: 30px;
    border-bottom: 3px solid rgb(3 78 162 / 1);
}

.datetime-container .date-list a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.date-list-side {
    margin: 0;
    margin-top: -10px;
    background-color: transparent !important;
}

.date-list span {
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.date-list-side li {
    padding: 5px 0;
    margin: 0 12px;
    border-radius: 8px !important;
}

/*.time-list span:hover {
    background-color: #034EA2;
}*/

.hovered {
    background-color: #034EA2;
}

    .hovered span {
        color: #fff;
        font-weight: 500;
    }

.schedule-cinema {
    margin-top: 2rem;
}

.schedule-cinema a {
    text-decoration: none;
}

.time-list {
    justify-content: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    display: flex;
}

    .time-list span {
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin: 0px -14px;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .time-list span:hover {
            background-color: #034EA2;
        }

.time-btn {
    margin: 0 6px;
}

/*right*/
.text-right {
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-block;
    border-left: solid;
    --tw-border-opacity: 1;
    border-color: rgb(3 78 162 / var(--tw-border-opacity));
    border-width: 5px;
    padding-left: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-transform: uppercase;
}

.right .buy-ticket-btn {
    display: none;
    border: none;
    width: 120px;
    height: 35px;
    background-color: #F26B38;
    color: #fff;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .right .buy-ticket-btn:hover ~ .img-movie,
    .right .img-movie:hover {
        filter: brightness(65%);
    }

        .right .img-movie:hover + .buy-ticket-btn,
        .right .buy-ticket-btn:hover {
            display: block;
        }

    .right .buy-ticket-btn:hover {
        background-color: #f29538;
    }

.right .img-movie {
    margin-bottom: 20px;
    transition: filter 0.3s ease;
}

.playing-movie {
    display: flex;
    justify-content: center;
}

.right .mv {
    position: relative;
    margin-bottom: 20px;
}

    .right .mv a {
        font-style: normal;
        font-weight: 600;
        font-size: .875rem;
        color: inherit;
        text-decoration: inherit;
    }

.right .bonus .new-mv {
    width: 150px;
    height: 40px;
    border-radius: .25rem;
    background-color: #fff;
    border-color: #f29538;
    border-width: 1px;
}

.new-mv a {
    color: #f29538;
    text-decoration: none;
    font-size: .875rem;
    text-align: center;
}

.right .bonus .new-mv:hover {
    cursor: pointer;
    background-color: #f29538;
}

    .right .bonus .new-mv:hover a {
        color: #fff;
    }

.modal-content {
    height: 555px;
    width: 100%;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.modal {
    margin-top: 0;
}
