/* header*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 16px;
    overflow-x: hidden;
  }
  body {
    /*font-family: Roboto, Helvetica, Arial, sans-serif;*/
    background-color: white;
    overflow-x: hidden;
  }
  a {
    transition: all 0.3s ease;
  }
  a:focus,
  a:hover {
    text-decoration: none;
  }
  button:focus {
    outline: 0;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }




  .list-group-horizontal {
    border: none;
    margin-left: -30px;
    cursor: pointer;
}

.list-group{
  display:flex ;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.list-group-item {
    border: none;
    border-radius: 0;
    position: relative;
}
.movie-area a{
  text-decoration: none;
  font-family: Nunito Sans, sans-serif !important;
  color: #4a4a4a;
}
.movie-area a:hover{
  color: #F26B38 ;
}
.list-group-item:last-child {
    border-right: none;
}

.list-gr-1 {
    font-size: 14px;
}

.list-gr-1 li {
    position: relative;
}

.list-gr-1 li:hover {
    color: #F26B38;
}
.sub-list-gr-1 {
  display: none;
  min-width: 200px;
  top: calc(100% + 0.5px);
  left: -35px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  line-height: 2.4;
  list-style-type: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-area a,
.sub-list-gr-1 a {
  text-decoration: none;
  color: #000;
}

.movie-area:hover .sub-list-gr-1 {
  display: block;
}
.movie-area a:hover,
.sub-list-gr-1 a:hover {
    color: #F26B38;
}

.down-btn {
    font-size: 8px;
}


.search-icon {
    font-size: 14px;
    
}
  
.search-btn {
    border: none;
    padding-left: 34px;
    color: #777777;
    background-color: transparent; 
    cursor: pointer;
    display: inline-block;
}

.account-wrapper {
  position: relative;
  display: inline-block;
}

.account-img {
  width: 75px;
  height: auto;
  padding: 10px 20px;
}

.account-list li:hover a {
  color: #F26B38;
}

.account-list a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.account-list {
  display: none;
  text-decoration: none;
  min-width: 150px;
  top: calc(100% + 0.5px);
  left: 20px;
  justify-content: center;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  list-style-type: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.account-icon {
  padding-right: 10px;
}

.account-wrapper:hover .account-list {
  display: block;
}

/*body*/

.wrapper{
   
    background-color: #f9f9f9;
}
.wrapper-content{
    margin-left: 10rem;
    margin-right: 10rem;
}
.line-default{

 border-bottom: 6px solid #f4f4f4;
}
.avata{
    background-color: white;
    border-radius: 5px;
    margin-top: 3rem;
    --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: 10rem;
}
.infor{
    background-color: white;
    border-radius: 5px;
    margin-top: 3rem;
    --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: 10rem;
}
.infor h2{
    color: #4a4a4a;
    font-family: Nunito Sans, sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.user-infor-box {
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}
.form-group{
    margin-bottom: 20px;
    font-weight: 500;
    color:dimgray;
}

.remove{
    pointer-events: none;
}    

.form-group label{
    font-size: small;
}

.form-group .form{
    /*margin-top: 10px;*/

}
.icon{
    color: #777777;
    display: inline-block;
    position: absolute;
    align-items: center;
    margin-top: 10px;
    left: 20px;
}

.sub-icon{
    color: #777777;
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  left: 5.5rem;
}
.form-group .form input {
    width: 360px;
    height: 38px;
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
    border:#000;
    padding-left: 2rem;
}

.subform-group{
    margin-left: 4rem;
    margin-bottom: 15px;
}

    .subform-group label {
        font-size: small;
        margin-bottom: 0;
        color: rgb(119 119 119 / 1);
        font-weight: 600;
    }

.subform-group .subform input{
    width: 360px;
    height: 38px;
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
    border:#000;
    padding-left: 2.5rem;
}

.update-box{
    margin-top: 5rem;
}

.update-box p{
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
}

.updateBtn{  
    background-color:#F26B38;
    color: #fff;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
}
.updateBtn:hover{
    background-color: #f58020;
}
.update{
    background-color:#F26B38;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    
}
.update:hover{
    background-color: #f58020;
}
.update-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.modal-content .row1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}