html {
    font-size: 16px;
    overflow-x: hidden;
  }
  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: white;
    overflow-x: hidden;
  }
  a {
    transition: all 0.3s ease;
  }
  a:focus,
  a:hover {
    text-decoration: none;
  }
  button:focus {
    outline: 0;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
/* header*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* List */
.list-group-horizontal {
    border: none;
    margin-left: -30px;
    cursor: pointer;
}

.list-group{
  display:flex ;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.list-group-item {
    border: none;
    border-radius: 0;
    position: relative;
}
.movie-area a{
  text-decoration: none;
  font-family: Nunito Sans, sans-serif !important;
  color: #4a4a4a;
}
.movie-area a:hover{
  color: #F26B38 ;
}
.list-group-item:last-child {
    border-right: none;
}

.list-gr-1 {
    font-size: 14px;
}

.list-gr-1 li {
    position: relative;
}

.list-gr-1 li:hover {
    color: #F26B38;
}
.sub-list-gr-1 {
  display: none;
  min-width: 200px;
  top: calc(100% + 0.5px);
  left: -35px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  line-height: 2.4;
  list-style-type: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-area a,
.sub-list-gr-1 a {
  text-decoration: none;
  color: #000;
}

.movie-area:hover .sub-list-gr-1 {
  display: block;
}
.movie-area a:hover,
.sub-list-gr-1 a:hover {
    color: #F26B38;
}

.down-btn {
    font-size: 8px;
}


.search-icon {
    font-size: 14px;
    
}
  
.search-btn {
    border: none;
    padding-left: 34px;
    color: #777777;
    background-color: transparent; 
    cursor: pointer;
    display: inline-block;
}

.account-wrapper {
  position: relative;
  display: inline-block;
}

.account-img {
  width: 75px;
  height: auto;
  padding: 10px 20px;
}

.account-list li:hover a {
  color: #F26B38;
}

.account-list a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.account-list {
  display: none;
  text-decoration: none;
  min-width: 150px;
  top: calc(100% + 0.5px);
  left: 20px;
  justify-content: center;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  list-style-type: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.account-icon {
  padding-right: 10px;
}

.account-wrapper:hover .account-list {
  display: block;
}


/*body*/
.line-default{
    border-bottom: 6px solid #f4f4f4;
  
  }
.wrapper{
    background-color:#f9f9f9;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.wrapper-content{
    margin-left: 10rem;
    margin-right: 10rem;
    background-color:#fff;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 5px;
    overflow: auto;
    height: 30rem;
}
 .table{
    color: #4a4a4a;
    font-size:  1rem;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif !important;
    
 }

  .dropdown{
    display:inline-block;
    width: 8rem;
  }
  .search-content-item .date .dropdown input{
    outline: none;
    display:inline-block;
    width: 8rem;
    padding-left: 2.5rem;
  }
  .list-opt{
    display:inline-block;
    width: 8rem;
    margin-right: 2rem;

  }
  .date label{
    font-size: small;
  }
  .report-btn{
    position: relative;
    display: inline-block;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    background-color:#F26B38; 
    color: white;
    border-radius: 5px;
    margin-right: 3rem;
  }
  .report-btn:hover{
    cursor: pointer;
    background-color:#f58020;
  }
  
  
  .getdate{
    display: flex;
    padding-left: 2rem;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 5px;
    background-color:#fff;
    --tw-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .search-content-item input{
    outline: none;
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
    --tw-text-opacity: 1;
    color:#777777;
    font-size:  1rem;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif !important;
    background-color: #f9f9f9;
   
  }

  .subform-group{
    margin-left: 5rem;
    margin-bottom: 15px;
}

.subform-group label{
    font-size: small;;
}

.subform-group .subform input{
  outline: none;
    width: 360px;
    height: 38px;
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
    border:#000;
    padding-left: 2rem;
}

.update-box{
    margin-top: 5rem;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.update-box p{
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
}

.updateBtn{  
        background-color:#F26B38;
        color: #fff;
        font-size: 12px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        margin-left: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 2.5rem;
    
}

.update{
    background-color:#F26B38;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    
}
.update-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8rem;
    margin-bottom: 2rem;
}
.updateBtn:hover{
  cursor: pointer;
  background-color:#f58020;
}

.remove{
  pointer-events: none;
}

.detail-btn{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  cursor: pointer;
}

.fa-regular:hover{
  color: #f58020;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.5s;
  transition-property: all;
  scale: 1.2;
}
.fa-regular{
  color: #F26B38;
  font-weight: 600;
  transition: transform 0.1s, box-shadow 0.3s;
}

.option{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  
}


/*addmovie*/
.form-group{
    margin-left: 2rem;
}

.list-option{
    background-color: white;
    border: none;
  
  }
  .option-item{
    background-color: white;
    color: #4a4a4a;
    font-size: .875rem;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif !important;
  }
  .option-item:hover{
    background-color:  #fff1e6;
  }

  .choose-btn{
    height: 3rem;
    width: 8rem;
    border-radius: 5px;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif !important;
    margin-right: 3rem;
   
    border-color: #ced4da;
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
  }
  .mv-img{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .flatpickr-months .flatpickr-month{
    background-color: #f58020;
  }
  .flatpickr-current-month .flatpickr-monthDropdown-months{
    background-color: #f58020;
  }
  .flatpickr-weekdays{
    background-color: #f58020;
  }
  
  .flatpickr-calender .arrowTop::after{
    border-bottom-color:#f58020 ;
  }
  .flatpickr-calender .arrowBottom::after{
    border-bottom-color:#f58020 ;
  }
  span.flatpickr-weekday {
    background-color: #f58020;
    color: white;
  }
  .flatpickr-day.today {
    background-color: #f58020;
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: white;
    opacity: 1;
}
.search-key input{
  outline: none;
    width: 15rem;
    height:3rem;
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
    border:#000;
    padding-left: 1rem;
    margin-right: 3rem;
}
.sub-icon{
    color:#f58020;
    display: inline-block;
    position: absolute;
    margin-top: 1rem;
    padding-left: 1rem;
  }
  .search-content-item{
    position: relative;
    display: flex;

    align-items: center;
    gap: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .subform-group{
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.subform-group label{
    font-size: small;;
}

.subform-group .subform input{
  outline: none;
    width: 19rem;
    height:3rem;
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
    border:#000;
    padding-left: 3rem;
}

.subform-group .subform textarea{
  outline: none;
    padding-left: 3rem;
    --tw-bg-opacity: 1;
    background-color: rgb(249 249 249 / var(--tw-bg-opacity));
    border: none;
    padding-top: 1rem;
}

.upload-img{
  width: 23rem;
  height: 15rem;
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn{
  background-color: #F26B38;
  border: none;
  width: 8rem;
}

.addBtn:hover{
  cursor: pointer;
  background-color: #f58020;
}

.custom-file{
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 3rem;
}

.deleteBtn{
    height: 2.5rem;
    width: 8rem;
    background-color:#F26B38;
    color: #fff;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .option{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    
  }
  .deleteBtn:hover{
    cursor: pointer;
    background-color:#f58020;
  }